
Graph Convolutional Network Scripts/data_res/bert_embedding/Res_Train_target_Embedding.npy
Graph Convolutional Network Scripts/data_res/bert_embedding/Res_Train_Embedding.npy
Graph Convolutional Network Scripts/data_res/bert_embedding/Res_Test_target_Embedding.npy
Graph Convolutional Network Scripts/data_res/bert_embedding/Res_Test_Embedding.npy
